.sidebar_child {
    list-style: none;
}

.text_heading {
    color: aliceblue;
    font-size: 22px;
}

.sidebar_text {
    color: aliceblue;
}

.sidebar_text:hover {
    color: aliceblue;
    padding-left: 10px;
    border-left: 3px solid #0f76de;
}

.sidebar_text:focus {
    color: aliceblue;
    padding-left: 10px;
    border-left: 3px solid #0f76de;
}

.black_aside_bar {
    margin-left: -20px;
}

.icons {
    padding-bottom: 30px;
    margin-left: -10px !important;
}

.home_img {
    height: 35px;
    padding-left: 5px;
}

.social_media_icons_facebook {
    height: 30px;
    padding-left: 5px;
}

/* @media screen and (max-width: 2157) {
        .sidebar_parent {
          width: 28%;
          height: 100%;
          padding-top: 180px;
          background-color: #333;
          margin-left: -80px;
          padding-bottom: 700px;
        }
      } */
.sidebar_child {
    list-style: none;
}

.text_heading {
    color: aliceblue;
    font-size: 22px;
}

.sidebar_text {
    color: aliceblue;
    font: uppercase;
}

.sidebar_text:hover {
    color: aliceblue;
    padding-left: 10px;
    border-left: 3px solid #0f76de;
}

.sidebar_text:focus {
    color: aliceblue;
    padding-left: 10px;
    border-left: 3px solid #0f76de;
}

.black_aside_bar {
    margin-left: -20px;
}

.icons {
    padding-bottom: 30px;
    margin-left: -20px;
}

.home_img {
    height: 35px;
    padding-left: 5px;
}

.social_media_icons_facebook {
    height: 30px;
    padding-left: 5px;
}