.client_counting_parent {
    margin-top: 200px;
    padding-left: 12%;
}

.clients {
    display: flex;
    justify-content: center;
    text-align: left;
    /* flex-direction: column; */
}

.main_text_client {
    padding-top: 40px;
}

.client_count {
    font-size: 86px;
    color: #0f76de;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Playfair Display';
}

@media screen and (max-width: 947px) {
    .client_counting_parent {
        margin-top: 100px !important;

        padding: 0px 20px;
    }

    .counting_child_parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 770px) {

    /* .client_count {
    display: none;
  } */
    .clients_digits {
        padding-left: 40px;
    }
}

@media screen and (max-width: 575px) {
    .settingsCol {
        flex: 0;
        -webkit-flex: 0;
        margin-bottom: 170px;
        display: block;
    }

    .clients {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: -120px;
    }

    .clients_digits {
        text-align: left;
        margin-top: 20px;
    }

    .client_counting_parent {
        margin-top: 60px !important;
    }
}