.plains_parent {
    margin: 0;
    padding: 0;
    margin-left: 12%;
}

.plains_img {
    margin-top: 135px;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    position: relative;
    height: 324px;
}

.plains_parent_text {
    height: 100%;
    margin-top: 130px;
    width: 120%;
    position: relative;
    z-index: 2;
}

.headind_text {
    line-height: 1.2;
}

.pera_text {
    line-height: 1.7;
}

@media screen and (max-width: 900px) {
    .plains_parent {
        margin-left: 0%;
    }

    .plains_img {
        float: none;
        margin-top: 0;
    }
}

@media screen and (max-width: 842px) {
    .plains_parent_text {
        margin-left: 0%;
        width: 100%;
    }

    .plains_img {
        float: none;
        margin-top: 20px;
    }
}

@media screen and (max-width: 575px) {
    .plains_parent_text {
        height: 100%;
        margin-top: 80px;
        width: 100%;
        position: relative;
        z-index: 2;
        padding: 0px 10px;
    }
}