.parent_home_page {
    margin: 0px;
    padding: 0px;
}

.main_parent_div_home_banner {
    margin-top: 108px;
}

.home_img {
    max-height: 550px;
    float: right;
    object-fit: cover;
    position: relative;
    height: 550px;
    width: 640px;
}

.home_letter {
    margin-left: 15px;
}

.home_text_web {
    display: flex;
    justify-content: absolute;
    flex-direction: column;
    margin-top: -130px;
    margin-left: 30px;

    font-size: 16px;
    color: #333333;
}

.heading {
    padding-left: 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(27, 26, 26);
}

.heading:hover {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.heading:focus {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 997px) {
    .home_img {
        /* display: none; */
        object-fit: cover;
    }

    .home_letter {
        margin-left: 0px;
        width: 100%;
    }

    .home_text_web {
        font-size: 18px;

        display: flex;
        padding-top: 45px;
        justify-content: absolute;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 770px) {
    .home_img {
        /* display: none; */
    }

    .home_letter {
        margin-left: 0px;
    }

    .home_text_web {
        font-size: 18px;
        margin-top: 0;
        margin-left: 0px;
        width: 100%;
    }
}

.port_folio_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding-right: 20px;
    height: 80px;
    margin-top: 70px;
    margin-left: 12%;
    background-color: #0f76de;
    border-radius: 20px;
}

.heading {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(27, 26, 26);
}

.heading:hover {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.heading:focus {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 1123px) {
    .port_folio_links {
        margin-left: 0;
        width: 50%;
        display: block;
        justify-content: center;
        text-align: center;
        height: 200px;
        border-radius: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 70px;
    }

    .heading {
        margin-left: 30px;
        font-size: 12px;
    }
}

@media screen and (max-width: 955px) {
    .port_folio_links {
        display: block;
        margin-left: 0;
        height: 200px;
        border-radius: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 70px;
    }
}